$--color-1 : #FEFFFC;
//nueva pagina
$--Primario	:   #5CB85C;	//Botones principales, íconos, acentos visuales
$--Secundario:	#A8E6CF;	//Fondos suaves, tarjetas de recetas, hover states
$--Neutro-claro	:#FAFAF7;//Fondo principal de la página
$--Neutro-medio	:	#E0E0E0;  //Líneas divisorias, bordes, fondos alternos
$--Neutro-oscuro :	#2E3D34; //	Texto principal (mejor que negro, más natural)
$--Complementario:	#FFA45B;	//Llamados a la acción secundarios o etiquetas de recetas
$--Fondo-nav :	#3C6E47; //nav, footer