$--color-1 : #F9F5EF;          // Fondo general claro tipo lino
$--color-2 : #E4C59E;          // Arena cálida, transmite naturalidad
$--color-3 : #FAF7F2;          // Fondo alterno, sutil contraste
$--color-text-p: #4C4B46;      // Gris carbón suave, legible y elegante

// nueva página
$--Primario	: #e76f51;         // Coral terroso (botones principales)
$--Secundario: #F4A261;        // Acento melocotón / hover cálido
$--Neutro-claro	: #FFFBF7;      // Fondo base crema
$--Neutro-medio	: #E0DED8;      // Líneas y divisores suaves
$--Neutro-oscuro : #2A2A28;     // Texto principal, moderno sin ser negro puro
$--Complementario: #2A9D8F;     // Verde azulado fresco, contraste vibrante
$--Complementario2: #264653;    // Verde petróleo oscuro, profesional y moderno

$--Fondo-nav : #1F2933;         // Gris azulado profundo, elegante y versátil

// parte 2
$--tarjeta: #2E3A3F;            // Fondo de tarjetas o navbar oscuro con contraste
$--titulo : #101010;            // Títulos potentes en negro suave
$--fondo-gradiente1 : linear-gradient(180deg, #1F2933, $--Fondo-nav, $--titulo);
$--fondo-gradiente2 : linear-gradient(180deg, #1F2933, $--Fondo-nav, $--titulo);
$--fondo-gradiente3 : linear-gradient(180deg, #000000, $--Fondo-nav, $--titulo);

