@import 'colors';
/*nav*/
.nav-ini{
    position: fixed;
    top: 0;
    z-index: 1000;
    line-height: 50px;
    backdrop-filter: blur(15px);
    border: 0;
}
.nav-ini-2{
    background-color: $--Neutro-oscuro;
}

nav{
    width: 100%;
    height: auto;
    // background-color: transparent !important;
    background-color: black;
    padding-inline: 3% !important;
    ul{
        gap: 20%;
        li{
            font-size: 1.1em;
            font-family: "Georgia", "Times New Roman", serif;
        }
    }
    a{
        font-size: 1.1em;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    img{
        border: 2px solid black;
        border-radius: 20%;
        width: 45px;
        height: 45px;
        transition: 1.3s ease;
    }
    .center-span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    span{
        font-size: 1.1em;
        font-weight: thin;
        letter-spacing: -0.5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    }
}

nav a:hover{
    color: $--Complementario !important;
    transition: 0.6s ease;
    transform: scale(2.16);
}

nav img:hover{
    border: 2.5px solid $--Complementario;
    transition: 0.6s ease;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-textos-blancos{
    background-color: transparent !important;
    a{
        color: $--color-3 !important;
    }
    span{
        color: $--color-3 !important;
    }
}
.nav-textos-negros{
    background-color: transparent !important;
    a{
        color: $--Neutro-oscuro !important;
    }
    span{
        color: $--Neutro-oscuro !important;
    }
}