@import 'colors';
@import 'navbar';
@import 'footer';
@import 'api-cards';
@import 'formularios';

$font-principal: 'Helvetica_Reg', Helvetica, Arial, sans-serif;

@mixin grid-main-perso($var: ""){
    background: $--color-1;
    width: 100%;
    height: auto;
    place-content: center;
    grid-template-areas: var;
}
@mixin col-descuadra(){
    background-color: 0;
    border: 0;
}

.grid-main-inicio{
    @include grid-main-perso(
                "container-int"
                "foto-larga1"
                "descuadra-1"
                "tabla-mid-grid"
                "familias-olfativas"
                "descuadra-2"
                );
    gap: 10px;
    padding-inline: 0 !important;

}
html,body{
    background-color: $--Neutro-oscuro;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-inline: 0;
    padding-top: 40px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin: 0 auto; 
    color: #2C2C2C;
}
* {
    box-sizing: border-box;
    font-family: $font-principal;
}

p{
    text-align: justify;
    margin: 3px 3px;
    padding: 6px;
    font-size: 1.19em;
    color: $--color-text-p;
}
img{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.titulo{
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -1px;
}

.container-interactivo{
    grid-area: container-int;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: #1A1A1A;
    .div-titulo{
        text-align: center;
        h1{
            padding-inline: 2% ;
            color: $--color-2;
            font-size: 5.5em;
            margin-top: 3%;
            margin-bottom: 3%;
            font-weight: bold;
        }
    }
}

.familias-olfativas{
    grid-area: familias-olfativas;
    .row-card{
        justify-content: center;
        gap: 2%;
        img {
            width: 100%;
            height: 250px; 
            padding: 2%;
            border-radius: 25px;
            object-fit: cover;
            object-position: center; 
        }
    }
}
.titulo-familias{
    text-align: center;
    h1{
        font-size: 5.5em;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.container-fotos{
    display: flex;
    width: 100%;
    height: 600px;
    padding: 1%;
    img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        opacity: .6;
        transition: .5s ease;
    }
}
.container-fotos img:hover{
    cursor: crosshair;
    width: 45%;
    opacity: 1;
    filter: contrast(130%);
}
.container-foto{
    display: flex;
}

.section-ini{
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.titulo-section{
    background: $--fondo-gradiente1;
    h2{
        font-size: 6.7em;
        font-weight: bold;
        color: $--color-2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
p{
    text-align: justify;
}

.scroll-element {
    opacity: 0;
    transition: all 0.8s ease-out;
}
.slide-left {
    transform: translateX(-80px);
}
.slide-right {
    transform: translateX(80px);
}
.scroll-element.scrolled {
    opacity: 1;
    transform: translateX(0);
}

.Top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: $--color-2;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 1000;
}


.bloque-imagen-1 .bloque-imagen-2 .bloque-imagen-3 {
    position: relative;
    overflow: hidden;
}

.bloque-imagen-1 img {
    width: 100%;
    height: 600px; //altura imagen
    display: block;
    object-fit: cover;
}

.bloque-imagen-2 img {
    width: 100%;
    height: 600px; //altura imagen
    display: block;
    object-fit: cover;
}

.bloque-imagen-3 img {
    width: 100%;
    height: 600px; //altura imagen
    display: block;
    object-fit: cover;
}


.texto-sobre-img {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: left;
    padding: 6rem 4rem;
    text-align: center;
}

.texto-sobre-img p {
    color: $--color-2;
    font-size: clamp(1rem, 1.8vw + 0.3rem, 2rem);
    font-weight: 600;
    margin: 0;
}


//pagina nosotros
.nosotros{
    margin-top: 115px;
    display: grid;
    padding-inline: 3%;
    gap: 3%;
    background-color: $--Neutro-medio;
}
.di-part{
    display: flex;
    background-color: $--Neutro-medio;
    padding-top: 2%;
    padding-bottom: 2%;
    h2 {
        font-size: 4rem;
    }
    p{
        font-size: 1.6rem;
    }
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 40px rgba(0,0,0,.35);
        border-radius: 24px;
    }
}

/* === Modal === */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.contenido-modal {
    background: $--Complementario2;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 16px;
    padding: 2rem;
    color: $--Primario;
    max-width: 700px;
    width: 90%;
    overflow-y: auto;
    max-height: 90vh;
    box-shadow: $--Complementario;
    animation: aparecerModal .3s ease forwards;
}

.contenido-modal h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 10px red;
}

.contenido-modal img {
    width: 100%;
    border-radius: 10px;
    margin: 1rem 0;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 2rem;
    color: $--Complementario;
    cursor: pointer;
    transition: 0.2s;
}

.cerrar-modal:hover { 
    color: $--Complementario2; 
    transform: scale(1.1); 
}

/* Animación modal */
@keyframes aparecerModal {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.tarjetas-recetas{
    gap: 20px;
    padding: 20px;
}